<form action='/events' method='POST' class='col-10'>
  <!-- user info -->
  <div class='user'>
    <div class="form-group">
      <div class="input-group">
        <span class='left-icon'>
          <i class="material-icons">alternate_email</i>
        </span>
        <input type="email" name='email' class="form-control col-6" placeholder="Email">
      </div>
    </div>

    <div class="form-group">
      <div class="input-group">
        <span class='left-icon'>
          <i class="material-icons">person_outline</i>
        </span>
        <input type="text" name='first_name' class="form-control col-3" placeholder="First name">
        <input type="text" name='last_name' class="form-control col-3" placeholder="Last name">
      </div>
    </div>
  </div>
  <!-- user info end -->
  <hr>
  <!-- event -->
  <div class='event'>
    <!-- event title -->
    <div class="form-group">
      <div class="input-group">
        <span class='left-icon'>
          <i class="material-icons">title</i>
        </span>
        <input type="text" name='title' class="form-control" placeholder="Enter title (i.e. What movie to watch?)">
      </div>
    </div>

    <!-- title description -->
    <div class="form-group">
      <div class="input-group">
        <span class='left-icon'>
          <i class="material-icons">subject</i>
        </span>
        <textarea name='description' class="form-control" placeholder="Add description"></textarea>
      </div>
    </div>
  </div>
  <!-- event end -->
  <hr>
  <!-- option -->
  <div class='option'>
    <!-- option name -->
    <div class="form-group">
      <div class="input-group">
        <span class='left-icon'>
          <p>1</p>
        </span>
        <input type="text" name='name-1' class="form-control options col-6" placeholder="Option name">
        <span class='right-icon'>
          <i class="material-icons">file_copy</i>
          <i class="material-icons">delete</i>
          <i class="fas fa-thumbs-up"></i>
          <p id="counter">0 Votes</p>
        </span>
      </div>
    </div>

    <!-- option time -->
    <div class="form-group">
      <div class="input-group">
        <span class='left-icon'>
          <i class="material-icons">access_time</i>
        </span>
        <input type="text" name='start_time-1' class="form-control col-6" placeholder="Start time">
        <input type="text" name='end_time-1' class="form-control col-6" placeholder="End time">
      </div>
    </div>

    <!-- option note -->
    <div class="form-group">
      <div class="input-group">
        <span class='left-icon'>
          <i class="material-icons">create</i>
        </span>
        <textarea name='note-1' class="form-control" placeholder="Add notes"></textarea>
      </div>
    </div>
  </div>
  <!-- option end -->
  <input type="submit" class="btn btn-primary" value='PREVIEW'>
  <br></br>
  <input type="submit" class="btn btn-primary" value='CREATE'>
</form>