<div>
  <h1>Movie Night</h1>
  <h3>Let's head to the theaters!</h3>
</div>
<div>
  <p>By: Alice Wonder</p>
  <p>Created at: 2018.06.30 12:00</p>
</div>

<div class="select">
  <h3>Avengers 9:00</h3>
  <input type="checkbox">
  <i class="fas fa-thumbs-up"></i>
  <p class="votes">2 Votes</p>
  <p>C.H.</p><p>A.W.</p>
</div>

<div class="select">
  <h3>Avengers 10:00</h3>
  <input type="checkbox">
  <i class="fas fa-thumbs-up"></i>
  <p class="votes">1 Votes</p>
  <p>C.H.</p>
</div>

<div class="select">
  <h3>Titanic 2: Return of the Iceberg! 11:00</h3>
  <input type="checkbox">
  <i class="fas fa-thumbs-up"></i>
  <p class="votes">103 Votes</p>
  <p>C.H.</p><p>A.W.</p>
</div>

<input type="submit" id="sendVote" class="btn btn-primary" value='VOTE'>