<article>
  <main>
    <img src="/images/logo.png" alt="quickadoo_logo">
    <h5>Thanks for your vote!</h5>
    <p>Share this Event with your friends using the link above.</p>
    <h4>http://www.quickadoo.com/adf6da6f7d</h4>
  </main>
  <footer>
  </footer>
</article>