<article>
  <main>
    <img src="/images/logo.png" alt="quickadoo_logo">
    <h5>Thanks for your vote!</h5>
    <p>Share this Event with your friends using the link above.</p>
    <a href="http://10.30.33.183:8080/events/<%=locals.url%>">http://10.30.33.183:8080/events/<%=locals.url%></a>
  </main>
  <footer>
  </footer>
</article>