<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/_header %>
</head>

<body>
  <section class='container landing-page'>
    <%- include('partials/_landing_message') %>
  </section>
  <%- include('partials/_footer') %>
</body>

</html>