<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/_header %>
</head>

<body>



  <section class='container shadow landing-page'>
    <main>
      <% include partials/_landing_message %>
    </main>
    <footer>
      <a href='/events' method='GET' type="button" class="btn btn-primary btn-lg">CLICK TO START!</a>
    </footer>
  </section>




</body>

</html>