<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/_header') %>
</head>

<body>
  <section class='container event-page'>
    <header>
      <%- include('partials/_navbar')%>
    </header>
    <main class='event-form'>
      <%- include('partials/_poll_form') %>
    </main>
    <footer></footer>
  </section>
  <%- include('partials/_footer') %>
</body>

</html>