.event-page {
  border-radius: $radius;
  height: 100%;
  padding: 0;
  text-align: center;
  form {
    margin: 50px auto;
    .invalid-feedback {
      text-align: left;
      margin-left: 30px;
    }
  }
  .input-group>.custom-select:not(:first-child),
  .input-group>.form-control:not(:first-child) {
    // input boxes and textareas
    margin: 0 10px;
    border-radius: $radius;
  }
  .left-icon {
    width: 20px;
    text-align: right;
  }
  .right-icon {
    // width: 40%;
    display: flex;
    justify-content: space-around;
    * {
      vertical-align: middle;
      font-size: 35px;
    }
  }
  input[type='submit'] {
    @extend %shadow-effect;
  }
  i {
    color: rgb(114, 114, 114);
  }
  .right-icon i.fas.fa-thumbs-up {
    font-size: 24px;
    vertical-align: super; // float: left;
    display: none;
  }
  .right-icon input {
    width: 24px;
    height: 24px;
    display: none;
  }
  #counter {
    font-size: 24px; // vertical-align: super;
    display: none;
    float: right;
    margin-left: 10px;
  }
}