.landing-page {
  margin-top: 30vh;
  border-radius: $radius;
  text-align: center;
  padding: 50px 0px;
  h1 {
    font-size: 32px;
  }
  main {
    text-align: left;
    margin: 0 auto;
    width: 70%;
    &>* {
      // '>' refers to immediate children
      margin-bottom: 25px;
    }
    img {
      width: 40%;
      vertical-align: bottom;
    }
  }
  input {
    @extend %shadow-effect;
  }
}