.landing-page {
  a {
    width: 30%;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  margin: 0 auto;
  min-width: 700px;
  min-height: 200px;
  padding: 0px;
  border-radius: $main-border-radius;
  border: 2px green solid;
  section {
    img {
      width: 150px;
      vertical-align: top;
    }
    margin: 20px;
    span {
      display: inline-block;
    }
  }
}