.select {
  border: 1px solid gray;
  padding: 10px 0px 10px 10px;
  margin: 10px 10px 0 10px;
  input,
  i {
    display: inline-block;
  }
  #sendVote {
    margin: 0 auto;
    display: block;
    clear: both;
  }
}

span.event_title {
  font-size: 33px;
}