%shadow-effect {
  // shadow effect
  // reference: https://css-tricks.com/almanac/properties/b/box-shadow/
  -webkit-box-shadow: -2px 6px 5px 0px lightgrey;
  -moz-box-shadow: -2px 6px 5px 0px lightgrey;
  box-shadow: -2px 6px 5px 0px lightgrey;
}
