@import 'partials/_variables';
@import 'partials/_layout';
@import 'partials/_navbar';

nav {
    background-color: whitesmoke;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

section {
    background-color: whitesmoke;
}

footer {
    background-color: black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}