@import 'partials/_variables';
@import 'partials/_layout';
@import ''
@import 'partials/_navbar';



section {
    background-color: whitesmoke;
}

footer {
    background-color: black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}